 html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

.cover {
  display: flex;
  background-color: rgba( 0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-size: 3em;
  color: white;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.light {
  display: block;
  position: absolute;
  height: 80vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.credit {
  position: fixed;
  right: 16px;
  bottom: 8px;
}